STM32CubeMonitor/H0FR6.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"c75f8f23.55ffc","type":"tab","label":"Relay","disabled":false,"info":""},{"id":"127ea0b3.37626f","type":"change","z":"c75f8f23.55ffc","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":360,"wires":[["2b6a3e4c.d2f882"]]},{"id":"1ceba8d7.0f1157","type":"template","z":"c75f8f23.55ffc","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":670,"y":300,"wires":[["127ea0b3.37626f"]]},{"id":"2b6a3e4c.d2f882","type":"acquisition out","z":"c75f8f23.55ffc","name":"myprobe_out1","probeconfig":"d9a6039e.00014","x":740,"y":360,"wires":[]},{"id":"9da5a795.be4b28","type":"function","z":"c75f8f23.55ffc","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["dc1ca2f2.6b53e"]]},{"id":"8ce0106b.2f3fe","type":"split","z":"c75f8f23.55ffc","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":450,"y":240,"wires":[["9da5a795.be4b28"]]},{"id":"a38f1565.f1c518","type":"template","z":"c75f8f23.55ffc","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":370,"y":360,"wires":[["127ea0b3.37626f"]]},{"id":"cb0731c9.053f8","type":"function","z":"c75f8f23.55ffc","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["8ce0106b.2f3fe"]]},{"id":"c2785d00.7c09e","type":"ui_text_input","z":"c75f8f23.55ffc","name":"","label":"timeout","tooltip":"","group":"79fb56d8.f477b8","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":120,"y":320,"wires":[["cb0731c9.053f8"]]},{"id":"b3bb87d0.82f698","type":"ui_text_input","z":"c75f8f23.55ffc","name":"","label":"Sampling Time","tooltip":"","group":"a1f5cc7e.d2381","order":1,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":140,"y":480,"wires":[["d97198b9.bab7b8"]]},{"id":"d97198b9.bab7b8","type":"template","z":"c75f8f23.55ffc","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":370,"y":480,"wires":[["127ea0b3.37626f"]]},{"id":"86a69842.13ed58","type":"ui_slider","z":"c75f8f23.55ffc","name":"","label":"Dutycycle","tooltip":"","group":"891d172b.f34718","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"","min":0,"max":"100","step":"1","x":120,"y":280,"wires":[["7eb5310e.94ea"]]},{"id":"7eb5310e.94ea","type":"function","z":"c75f8f23.55ffc","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":280,"wires":[["8ce0106b.2f3fe"]]},{"id":"4cf7a36a.7bf4bc","type":"ui_dropdown","z":"c75f8f23.55ffc","name":"","label":"Commands","tooltip":"","place":"Select option","group":"1c45d12.4ca7d2f","order":4,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"on","value":"=342(on ","type":"str"},{"label":"off","value":"=432(off()","type":"str"},{"label":"toggle","value":"=532(toggle()","type":"str"},{"label":"PWM","value":"=642(pwm ","type":"str"},{"label":"Current Measurement","value":"=732(sample()","type":"str"}],"payload":"","topic":"","x":130,"y":240,"wires":[["cf9553fb.e01c","14171d26.ecb1f3"]]},{"id":"cf9553fb.e01c","type":"function","z":"c75f8f23.55ffc","name":"","func":"if (msg.payload == \"=342(on \" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Relay_Dutycycle\",\"Relay_Continue\",\"Relay_Stream\"],\"show\":[\"Relay_Timeout\",\"Relay_Current_Measurement\"]}};\n    return msg;\n}\n\nif (msg.payload == \"=432(off()\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Relay_Dutycycle\",\"Relay_Continue\",\"Relay_Timeout\"],\"show\":[\"Relay_Current_Measurement\"]}};\n    return msg;\n}\nif (msg.payload == \"=532(toggle()\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Relay_Dutycycle\",\"Relay_Continue\",\"Relay_Timeout\"],\"show\":[\"Relay_Stream\",\"Relay_Current_Measurement\"]}};\n    return msg;\n}\nif (msg.payload == \"=642(pwm \" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Relay_Timeout\",\"Relay_Continue\",\"Relay_Stream\"],\"show\":[\"Relay_Dutycycle\",\"Relay_Current_Measurement\"]}};\n    return msg;\n}\nif (msg.payload == \"=732(sample()\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"Relay_Dutycycle\",\"Relay_Continue\",\"Relay_Timeout\"],\"show\":[\"Relay_Stream\",\"Relay_Current_Measurement\"]}};\n    return msg;\n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["60e071c7.a4a13"]]},{"id":"60e071c7.a4a13","type":"ui_ui_control","z":"c75f8f23.55ffc","name":"","events":"connect","x":400,"y":200,"wires":[[]]},{"id":"ee120e89.dcc2b","type":"ui_button","z":"c75f8f23.55ffc","name":"","group":"1c45d12.4ca7d2f","order":5,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":110,"y":360,"wires":[["a38f1565.f1c518"]]},{"id":"e2fa77a0.07c668","type":"ui_button","z":"c75f8f23.55ffc","name":"","group":"a1f5cc7e.d2381","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":150,"y":400,"wires":[["a38f1565.f1c518"]]},{"id":"14f7d4f9.04bffb","type":"ui_button","z":"c75f8f23.55ffc","name":"","group":"a1f5cc7e.d2381","order":3,"width":3,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":140,"y":440,"wires":[["a38f1565.f1c518"]]},{"id":"14171d26.ecb1f3","type":"function","z":"c75f8f23.55ffc","name":"","func":"var s=msg.payload;\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":270,"y":240,"wires":[["8ce0106b.2f3fe"]]},{"id":"e3e26e39.677a9","type":"delay","z":"c75f8f23.55ffc","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.002","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":890,"y":240,"wires":[["1ceba8d7.0f1157"]]},{"id":"dc1ca2f2.6b53e","type":"change","z":"c75f8f23.55ffc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"num","to":"13","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"41","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":240,"wires":[["e3e26e39.677a9"]]},{"id":"5693b521.c40cac","type":"acquisition out","z":"c75f8f23.55ffc","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":480,"y":100,"wires":[]},{"id":"15c4dc34.922204","type":"variables","z":"c75f8f23.55ffc","groupname":"Relay Read","accesspoint":0,"execonfig":"3c43a350.0a590c","variablelist":[{"name":"mosfetCurrent","address":"0x20000008","type":"9"}],"triggerstartmode":"manual","triggername":"percent","triggerthreshold":"30000","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1633037829908,"openStatus":false,"x":310,"y":100,"wires":[["5693b521.c40cac"]]},{"id":"f09e1f67.a2119","type":"ui_button","z":"c75f8f23.55ffc","name":"","group":"1c45d12.4ca7d2f","order":2,"width":5,"height":1,"passthru":false,"label":"CONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":130,"y":100,"wires":[["15c4dc34.922204"]]},{"id":"ccb67d4.16e0b8","type":"ui_button","z":"c75f8f23.55ffc","name":"","group":"1c45d12.4ca7d2f","order":3,"width":5,"height":1,"passthru":false,"label":"DISCONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":140,"y":140,"wires":[["15c4dc34.922204"]]},{"id":"fdef99e9.7ac2f8","type":"acquisition in","z":"c75f8f23.55ffc","name":"myProbe_In2","probeconfig":"d9a6039e.00014","x":130,"y":580,"wires":[["1c664a5c.396c46"],[]]},{"id":"1c664a5c.396c46","type":"processing","z":"c75f8f23.55ffc","groupname":"Relay Read","groupid":"15c4dc34.922204","expressions":[],"statistics":[],"logmode":"no","x":350,"y":580,"wires":[["c1604642.126a18","9ad7ea43.f9c238"],[]]},{"id":"c1604642.126a18","type":"subflow:8381c865.236028","z":"c75f8f23.55ffc","name":"myFilter","env":[{"name":"varfilter","value":"mosfetCurrent","type":"str"}],"x":560,"y":580,"wires":[["7cfe66a2.9bf618"]]},{"id":"7cfe66a2.9bf618","type":"function","z":"c75f8f23.55ffc","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)+\" A\"\nvar out=s;\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":580,"wires":[["62034ab3.11b2c4"]]},{"id":"62034ab3.11b2c4","type":"ui_text","z":"c75f8f23.55ffc","group":"2edc711a.5f435e","order":1,"width":0,"height":0,"name":"","label":"Current","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":580,"wires":[]},{"id":"6fdc5eba.af9a9","type":"ui_button","z":"c75f8f23.55ffc","name":"","group":"1c45d12.4ca7d2f","order":1,"width":0,"height":0,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":120,"y":520,"wires":[["d97198b9.bab7b8"]]},{"id":"9ad7ea43.f9c238","type":"ui_chartst","z":"c75f8f23.55ffc","group":"2edc711a.5f435e","name":"Current","order":2,"width":11,"height":9,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":560,"y":540,"wires":[]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"79fb56d8.f477b8","type":"ui_group","z":"","name":"Timeout","tab":"266279b.9b24286","order":3,"disp":true,"width":10,"collapse":false},{"id":"a1f5cc7e.d2381","type":"ui_group","z":"","name":"Stream","tab":"266279b.9b24286","order":5,"disp":true,"width":"10","collapse":false},{"id":"891d172b.f34718","type":"ui_group","z":"","name":"Dutycycle","tab":"266279b.9b24286","order":4,"disp":true,"width":10,"collapse":false},{"id":"1c45d12.4ca7d2f","type":"ui_group","z":"","name":"Relay","tab":"266279b.9b24286","order":2,"disp":true,"width":10,"collapse":false},{"id":"3c43a350.0a590c","type":"exe-config","z":"","name":"Relay","exefile":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H0FRxx\\STM32CubeIDE\\H0FRxx\\H0FRxx.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\final firmware\\H0FRxx\\STM32CubeIDE\\H0FRxx","exevariablelist":[{"address":"0x080193c0","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x20001958","name":"acceptedMsg","type":3},{"address":"0x2000114d","name":"ACK_FLAG","type":1},{"address":"0x08018f20","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f14","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x08018f18","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x08018f1c","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001904","name":"ADC_flag","type":1},{"address":"0x20001914","name":"ADC_value_temp","type":3},{"address":"0x20001916","name":"ADC_value_Vref","type":3},{"address":"0x20001928","name":"ADCchannelvalue[0]","type":3},{"address":"0x20001a18","name":"ADCPercentage","type":9},{"address":"0x20001a08","name":"ADCPort","type":3},{"address":"0x08018f80","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f74","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x08018f78","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x08018f7c","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a0a","name":"ADCSide","type":3},{"address":"0x20001a0c","name":"ADCValue","type":9},{"address":"0x20001120","name":"AddBcastPayload","type":1},{"address":"0x08018e60","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e54","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x08018e58","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08018e5c","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000b0","name":"AHBPrescTable[0]","type":1},{"address":"0x200072c0","name":"arrayPortsDir[0]","type":3},{"address":"0x20001718","name":"BackEndTaskHandle","type":5},{"address":"0x20000c58","name":"bcastID","type":1},{"address":"0x20000b7c","name":"bcastRoutes[0]","type":3},{"address":"0x08018de0","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018dd4","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x08018dd8","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x08018ddc","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001f54","name":"bootStatus","type":1},{"address":"0x20006e3c","name":"BOS.buttons.debounce","type":3},{"address":"0x20006e41","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20006e40","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x20006e3e","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20006e44","name":"BOS.clibaudrate","type":5},{"address":"0x20006e51","name":"BOS.date.day","type":1},{"address":"0x20006e52","name":"BOS.date.month","type":1},{"address":"0x20006e50","name":"BOS.date.weekday","type":1},{"address":"0x20006e54","name":"BOS.date.year","type":3},{"address":"0x20006e48","name":"BOS.daylightsaving","type":1},{"address":"0x20006e56","name":"BOS.disableCLI","type":1},{"address":"0x20006e49","name":"BOS.hourformat","type":1},{"address":"0x20006e4f","name":"BOS.time.ampm","type":1},{"address":"0x20006e4e","name":"BOS.time.hours","type":1},{"address":"0x20006e4d","name":"BOS.time.minutes","type":1},{"address":"0x20006e4a","name":"BOS.time.msec","type":3},{"address":"0x20006e4c","name":"BOS.time.seconds","type":1},{"address":"0x2000001c","name":"BOS_default.buttons.debounce","type":3},{"address":"0x20000021","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x20000020","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x2000001e","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x20000024","name":"BOS_default.clibaudrate","type":5},{"address":"0x20000031","name":"BOS_default.date.day","type":1},{"address":"0x20000032","name":"BOS_default.date.month","type":1},{"address":"0x20000030","name":"BOS_default.date.weekday","type":1},{"address":"0x20000034","name":"BOS_default.date.year","type":3},{"address":"0x20000028","name":"BOS_default.daylightsaving","type":1},{"address":"0x20000036","name":"BOS_default.disableCLI","type":1},{"address":"0x20000029","name":"BOS_default.hourformat","type":1},{"address":"0x2000002f","name":"BOS_default.time.ampm","type":1},{"address":"0x2000002e","name":"BOS_default.time.hours","type":1},{"address":"0x2000002d","name":"BOS_default.time.minutes","type":1},{"address":"0x2000002a","name":"BOS_default.time.msec","type":3},{"address":"0x2000002c","name":"BOS_default.time.seconds","type":1},{"address":"0x20000c4d","name":"BOS_initialized","type":1},{"address":"0x20006dc4","name":"BOS_var_reg[0]","type":5},{"address":"0x20006dc0","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x20006dbe","name":"BOSMessaging.overrun","type":1},{"address":"0x20006dbf","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x20006dbc","name":"BOSMessaging.response","type":1},{"address":"0x20006dbd","name":"BOSMessaging.trace","type":2},{"address":"0x20006dc2","name":"BOSMessaging.trial","type":4},{"address":"0x20000018","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x20000016","name":"BOSMessging_default.overrun","type":1},{"address":"0x20000017","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x20000014","name":"BOSMessging_default.response","type":1},{"address":"0x20000015","name":"BOSMessging_default.trace","type":2},{"address":"0x2000001a","name":"BOSMessging_default.trial","type":4},{"address":"0x08018f50","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f44","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x08018f48","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x08018f4c","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000db8","name":"broadcastResponse[0]","type":1},{"address":"0x200018a4","name":"button[0].events","type":1},{"address":"0x2000189e","name":"button[0].pressedX1Sec","type":1},{"address":"0x2000189f","name":"button[0].pressedX2Sec","type":1},{"address":"0x200018a0","name":"button[0].pressedX3Sec","type":1},{"address":"0x200018a1","name":"button[0].releasedY1Sec","type":1},{"address":"0x200018a2","name":"button[0].releasedY2Sec","type":1},{"address":"0x200018a3","name":"button[0].releasedY3Sec","type":1},{"address":"0x2000189c","name":"button[0].state","type":1},{"address":"0x2000189d","name":"button[0].type","type":1},{"address":"0x20001918","name":"Channel","type":1},{"address":"0x20000b4a","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x20006ede","name":"counter","type":1},{"address":"0x20001f68","name":"cOutputBuffer[0]","type":2},{"address":"0x20001318","name":"crcBuffer[0]","type":1},{"address":"0x20000c5d","name":"cRxedChar","type":2},{"address":"0x20001920","name":"current","type":9},{"address":"0x20001b58","name":"Current","type":9},{"address":"0x20000005","name":"currentCharacter","type":1},{"address":"0x20001710","name":"DataVar","type":3},{"address":"0x08018ec0","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018eb4","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x08018eb8","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x08018ebc","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001934","name":"dblCounter[0]","type":1},{"address":"0x08018ea0","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e94","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x08018e98","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x08018e9c","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001714","name":"defaultTaskHandle","type":5},{"address":"0x20001930","name":"delayButtonStateReset","type":1},{"address":"0x08018f40","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f34","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x08018f38","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x08018f3c","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006eff","name":"desiredArray","type":1},{"address":"0x20006efe","name":"digitTheCommand","type":1},{"address":"0x200012cc","name":"dmaStreamCount[0]","type":5},{"address":"0x200012f4","name":"dmaStreamDst[0]","type":5},{"address":"0x200012e0","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000058","name":"dstGroupID","type":1},{"address":"0x08018df0","name":"exploreCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018de4","name":"exploreCommandDefinition.pcCommand","type":5},{"address":"0x08018de8","name":"exploreCommandDefinition.pcHelpString","type":5},{"address":"0x08018dec","name":"exploreCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200017dc","name":"finalMatrix[0]","type":1},{"address":"0x20006f00","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1},{"address":"0x08018f00","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018ef4","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x08018ef8","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x08018efc","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b98","name":"frontendDMA[0].ErrorCode","type":5},{"address":"0x20001b68","name":"frontendDMA[0].Init.Direction","type":5},{"address":"0x20001b78","name":"frontendDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001b70","name":"frontendDMA[0].Init.MemInc","type":5},{"address":"0x20001b7c","name":"frontendDMA[0].Init.Mode","type":5},{"address":"0x20001b74","name":"frontendDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001b6c","name":"frontendDMA[0].Init.PeriphInc","type":5},{"address":"0x20001b80","name":"frontendDMA[0].Init.Priority","type":5},{"address":"0x20001b64","name":"frontendDMA[0].Instance","type":5},{"address":"0x20001b84","name":"frontendDMA[0].Lock","type":2},{"address":"0x20001b88","name":"frontendDMA[0].Parent","type":5},{"address":"0x20001b85","name":"frontendDMA[0].State","type":2},{"address":"0x20001b8c","name":"frontendDMA[0].XferCpltCallback","type":5},{"address":"0x20001b94","name":"frontendDMA[0].XferErrorCallback","type":5},{"address":"0x20001b90","name":"frontendDMA[0].XferHalfCpltCallback","type":5},{"address":"0x08018e90","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e84","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x08018e88","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x08018e8c","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018fb0","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018fa4","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x08018fa8","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x08018fac","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x08018e20","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e14","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x08018e18","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x08018e1c","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000aac","name":"groupModules[0]","type":3},{"address":"0x20001b60","name":"H0FR6_Current","type":9},{"address":"0x20006f40","name":"hadc.DMA_Handle","type":5},{"address":"0x20006f40","name":"hadc.DMA_Handle","type":5},{"address":"0x20006f4c","name":"hadc.ErrorCode","type":5},{"address":"0x20006f4c","name":"hadc.ErrorCode","type":5},{"address":"0x20006f08","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20006f08","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20006f24","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20006f24","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20006f10","name":"hadc.Init.DataAlign","type":5},{"address":"0x20006f10","name":"hadc.Init.DataAlign","type":5},{"address":"0x20006f28","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20006f28","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20006f34","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20006f34","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20006f18","name":"hadc.Init.EOCSelection","type":5},{"address":"0x20006f18","name":"hadc.Init.EOCSelection","type":5},{"address":"0x20006f2c","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20006f2c","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20006f30","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20006f30","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20006f20","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x20006f20","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x20006f1c","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x20006f1c","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x20006f38","name":"hadc.Init.Overrun","type":5},{"address":"0x20006f38","name":"hadc.Init.Overrun","type":5},{"address":"0x20006f0c","name":"hadc.Init.Resolution","type":5},{"address":"0x20006f0c","name":"hadc.Init.Resolution","type":5},{"address":"0x20006f3c","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x20006f3c","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x20006f14","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20006f14","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20006f04","name":"hadc.Instance","type":5},{"address":"0x20006f04","name":"hadc.Instance","type":5},{"address":"0x20006f44","name":"hadc.Lock","type":2},{"address":"0x20006f44","name":"hadc.Lock","type":2},{"address":"0x20006f48","name":"hadc.State","type":5},{"address":"0x20006f48","name":"hadc.State","type":5},{"address":"0x20007210","name":"hcrc.Init.CRCLength","type":5},{"address":"0x20007209","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x20007208","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x2000720c","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x20007214","name":"hcrc.Init.InitValue","type":5},{"address":"0x20007218","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x2000721c","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x20007224","name":"hcrc.InputDataFormat","type":5},{"address":"0x20007204","name":"hcrc.Instance","type":5},{"address":"0x20007220","name":"hcrc.Lock","type":2},{"address":"0x20007221","name":"hcrc.State","type":2},{"address":"0x2000729c","name":"htim14.Channel","type":2},{"address":"0x200072a0","name":"htim14.hdma[0]","type":5},{"address":"0x20007294","name":"htim14.Init.ClockDivision","type":5},{"address":"0x2000728c","name":"htim14.Init.CounterMode","type":5},{"address":"0x20007290","name":"htim14.Init.Period","type":5},{"address":"0x20007288","name":"htim14.Init.Prescaler","type":5},{"address":"0x20007298","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x20007284","name":"htim14.Instance","type":5},{"address":"0x200072bc","name":"htim14.Lock","type":2},{"address":"0x200072bd","name":"htim14.State","type":2},{"address":"0x20007260","name":"htim15.Channel","type":2},{"address":"0x20007264","name":"htim15.hdma[0]","type":5},{"address":"0x20007258","name":"htim15.Init.ClockDivision","type":5},{"address":"0x20007250","name":"htim15.Init.CounterMode","type":5},{"address":"0x20007254","name":"htim15.Init.Period","type":5},{"address":"0x2000724c","name":"htim15.Init.Prescaler","type":5},{"address":"0x2000725c","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x20007248","name":"htim15.Instance","type":5},{"address":"0x20007280","name":"htim15.Lock","type":2},{"address":"0x20007281","name":"htim15.State","type":2},{"address":"0x20007004","name":"htim3.Channel","type":2},{"address":"0x20007008","name":"htim3.hdma[0]","type":5},{"address":"0x20006ffc","name":"htim3.Init.ClockDivision","type":5},{"address":"0x20006ff4","name":"htim3.Init.CounterMode","type":5},{"address":"0x20006ff8","name":"htim3.Init.Period","type":5},{"address":"0x20006ff0","name":"htim3.Init.Prescaler","type":5},{"address":"0x20007000","name":"htim3.Init.RepetitionCounter","type":5},{"address":"0x20006fec","name":"htim3.Instance","type":5},{"address":"0x20007024","name":"htim3.Lock","type":2},{"address":"0x20007025","name":"htim3.State","type":2},{"address":"0x200070bc","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200070d8","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200070dc","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200070c8","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x200070d4","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200070e0","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x200070d0","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x200070c4","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200070cc","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x200070c0","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007104","name":"huart1.ErrorCode","type":5},{"address":"0x200070fc","name":"huart1.hdmarx","type":5},{"address":"0x200070f8","name":"huart1.hdmatx","type":5},{"address":"0x2000709c","name":"huart1.Init.BaudRate","type":5},{"address":"0x200070b0","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x200070ac","name":"huart1.Init.Mode","type":5},{"address":"0x200070b8","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x200070b4","name":"huart1.Init.OverSampling","type":5},{"address":"0x200070a8","name":"huart1.Init.Parity","type":5},{"address":"0x200070a4","name":"huart1.Init.StopBits","type":5},{"address":"0x200070a0","name":"huart1.Init.WordLength","type":5},{"address":"0x20007098","name":"huart1.Instance","type":5},{"address":"0x20007100","name":"huart1.Lock","type":2},{"address":"0x200070f4","name":"huart1.Mask","type":3},{"address":"0x200070ec","name":"huart1.pRxBuffPtr","type":5},{"address":"0x200070e4","name":"huart1.pTxBuffPtr","type":5},{"address":"0x200070f2","name":"huart1.RxXferCount","type":3},{"address":"0x200070f0","name":"huart1.RxXferSize","type":3},{"address":"0x20007101","name":"huart1.State","type":2},{"address":"0x200070ea","name":"huart1.TxXferCount","type":3},{"address":"0x200070e8","name":"huart1.TxXferSize","type":3},{"address":"0x200071b4","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200071d0","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200071d4","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200071c0","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x200071cc","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200071d8","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x200071c8","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x200071bc","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200071c4","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x200071b8","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200071fc","name":"huart2.ErrorCode","type":5},{"address":"0x200071f4","name":"huart2.hdmarx","type":5},{"address":"0x200071f0","name":"huart2.hdmatx","type":5},{"address":"0x20007194","name":"huart2.Init.BaudRate","type":5},{"address":"0x200071a8","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x200071a4","name":"huart2.Init.Mode","type":5},{"address":"0x200071b0","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x200071ac","name":"huart2.Init.OverSampling","type":5},{"address":"0x200071a0","name":"huart2.Init.Parity","type":5},{"address":"0x2000719c","name":"huart2.Init.StopBits","type":5},{"address":"0x20007198","name":"huart2.Init.WordLength","type":5},{"address":"0x20007190","name":"huart2.Instance","type":5},{"address":"0x200071f8","name":"huart2.Lock","type":2},{"address":"0x200071ec","name":"huart2.Mask","type":3},{"address":"0x200071e4","name":"huart2.pRxBuffPtr","type":5},{"address":"0x200071dc","name":"huart2.pTxBuffPtr","type":5},{"address":"0x200071ea","name":"huart2.RxXferCount","type":3},{"address":"0x200071e8","name":"huart2.RxXferSize","type":3},{"address":"0x200071f9","name":"huart2.State","type":2},{"address":"0x200071e2","name":"huart2.TxXferCount","type":3},{"address":"0x200071e0","name":"huart2.TxXferSize","type":3},{"address":"0x20006f94","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006fb0","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006fb4","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006fa0","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x20006fac","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006fb8","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x20006fa8","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006f9c","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006fa4","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x20006f98","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006fdc","name":"huart3.ErrorCode","type":5},{"address":"0x20006fd4","name":"huart3.hdmarx","type":5},{"address":"0x20006fd0","name":"huart3.hdmatx","type":5},{"address":"0x20006f74","name":"huart3.Init.BaudRate","type":5},{"address":"0x20006f88","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x20006f84","name":"huart3.Init.Mode","type":5},{"address":"0x20006f90","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x20006f8c","name":"huart3.Init.OverSampling","type":5},{"address":"0x20006f80","name":"huart3.Init.Parity","type":5},{"address":"0x20006f7c","name":"huart3.Init.StopBits","type":5},{"address":"0x20006f78","name":"huart3.Init.WordLength","type":5},{"address":"0x20006f70","name":"huart3.Instance","type":5},{"address":"0x20006fd8","name":"huart3.Lock","type":2},{"address":"0x20006fcc","name":"huart3.Mask","type":3},{"address":"0x20006fc4","name":"huart3.pRxBuffPtr","type":5},{"address":"0x20006fbc","name":"huart3.pTxBuffPtr","type":5},{"address":"0x20006fca","name":"huart3.RxXferCount","type":3},{"address":"0x20006fc8","name":"huart3.RxXferSize","type":3},{"address":"0x20006fd9","name":"huart3.State","type":2},{"address":"0x20006fc2","name":"huart3.TxXferCount","type":3},{"address":"0x20006fc0","name":"huart3.TxXferSize","type":3},{"address":"0x2000704c","name":"huart5.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007068","name":"huart5.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x2000706c","name":"huart5.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007058","name":"huart5.AdvancedInit.DataInvert","type":5},{"address":"0x20007064","name":"huart5.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007070","name":"huart5.AdvancedInit.MSBFirst","type":5},{"address":"0x20007060","name":"huart5.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007054","name":"huart5.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x2000705c","name":"huart5.AdvancedInit.Swap","type":5},{"address":"0x20007050","name":"huart5.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007094","name":"huart5.ErrorCode","type":5},{"address":"0x2000708c","name":"huart5.hdmarx","type":5},{"address":"0x20007088","name":"huart5.hdmatx","type":5},{"address":"0x2000702c","name":"huart5.Init.BaudRate","type":5},{"address":"0x20007040","name":"huart5.Init.HwFlowCtl","type":5},{"address":"0x2000703c","name":"huart5.Init.Mode","type":5},{"address":"0x20007048","name":"huart5.Init.OneBitSampling","type":5},{"address":"0x20007044","name":"huart5.Init.OverSampling","type":5},{"address":"0x20007038","name":"huart5.Init.Parity","type":5},{"address":"0x20007034","name":"huart5.Init.StopBits","type":5},{"address":"0x20007030","name":"huart5.Init.WordLength","type":5},{"address":"0x20007028","name":"huart5.Instance","type":5},{"address":"0x20007090","name":"huart5.Lock","type":2},{"address":"0x20007084","name":"huart5.Mask","type":3},{"address":"0x2000707c","name":"huart5.pRxBuffPtr","type":5},{"address":"0x20007074","name":"huart5.pTxBuffPtr","type":5},{"address":"0x20007082","name":"huart5.RxXferCount","type":3},{"address":"0x20007080","name":"huart5.RxXferSize","type":3},{"address":"0x20007091","name":"huart5.State","type":2},{"address":"0x2000707a","name":"huart5.TxXferCount","type":3},{"address":"0x20007078","name":"huart5.TxXferSize","type":3},{"address":"0x2000713c","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20007158","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x2000715c","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20007148","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x20007154","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20007160","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x20007150","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x20007144","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x2000714c","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x20007140","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20007184","name":"huart6.ErrorCode","type":5},{"address":"0x2000717c","name":"huart6.hdmarx","type":5},{"address":"0x20007178","name":"huart6.hdmatx","type":5},{"address":"0x2000711c","name":"huart6.Init.BaudRate","type":5},{"address":"0x20007130","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x2000712c","name":"huart6.Init.Mode","type":5},{"address":"0x20007138","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x20007134","name":"huart6.Init.OverSampling","type":5},{"address":"0x20007128","name":"huart6.Init.Parity","type":5},{"address":"0x20007124","name":"huart6.Init.StopBits","type":5},{"address":"0x20007120","name":"huart6.Init.WordLength","type":5},{"address":"0x20007118","name":"huart6.Instance","type":5},{"address":"0x20007180","name":"huart6.Lock","type":2},{"address":"0x20007174","name":"huart6.Mask","type":3},{"address":"0x2000716c","name":"huart6.pRxBuffPtr","type":5},{"address":"0x20007164","name":"huart6.pTxBuffPtr","type":5},{"address":"0x20007172","name":"huart6.RxXferCount","type":3},{"address":"0x20007170","name":"huart6.RxXferSize","type":3},{"address":"0x20007181","name":"huart6.State","type":2},{"address":"0x2000716a","name":"huart6.TxXferCount","type":3},{"address":"0x20007168","name":"huart6.TxXferSize","type":3},{"address":"0x08018ef0","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018ee4","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x08018ee8","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x08018eec","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006edf","name":"index","type":1},{"address":"0x2000114e","name":"indMode","type":1},{"address":"0x08018e40","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e34","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x08018e38","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x08018e3c","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001a14","name":"InternalTemperature","type":9},{"address":"0x20001a10","name":"InternalVoltageReferance","type":9},{"address":"0x08019320","name":"ledModeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019314","name":"ledModeCommandDefinition.pcCommand","type":5},{"address":"0x08019318","name":"ledModeCommandDefinition.pcHelpString","type":5},{"address":"0x0801931c","name":"ledModeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000c5c","name":"longMessage","type":1},{"address":"0x20000c5a","name":"longMessageLastPtr","type":3},{"address":"0x20001a1c","name":"longMessageScratchpad[0]","type":1},{"address":"0x200019e4","name":"MBmessageParams[0]","type":5},{"address":"0x20000c68","name":"message[0]","type":2},{"address":"0x20000c60","name":"messageLength[0]","type":1},{"address":"0x20000b4c","name":"messageParams[0]","type":1},{"address":"0x200000a8","name":"modParam[0].paramFormat","type":2},{"address":"0x200000ac","name":"modParam[0].paramName","type":5},{"address":"0x200000a4","name":"modParam[0].paramPtr","type":5},{"address":"0x2000005c","name":"monthStringAbreviated[0]","type":5},{"address":"0x20001b54","name":"mosfetBuffer","type":9},{"address":"0x20000008","name":"mosfetCurrent","type":9,"checked":false},{"address":"0x20001b4c","name":"MosfetHandle","type":5},{"address":"0x2000718c","name":"mosfetMode","type":1},{"address":"0x20006fe0","name":"mosfetModule","type":1},{"address":"0x2000710c","name":"mosfetPeriod","type":5},{"address":"0x20007110","name":"mosfetPort","type":1},{"address":"0x08019340","name":"mosfetSampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019334","name":"mosfetSampleCommandDefinition.pcCommand","type":5},{"address":"0x08019338","name":"mosfetSampleCommandDefinition.pcHelpString","type":5},{"address":"0x0801933c","name":"mosfetSampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006fe8","name":"mosfetState","type":1},{"address":"0x08019360","name":"mosfetStopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019354","name":"mosfetStopCommandDefinition.pcCommand","type":5},{"address":"0x08019358","name":"mosfetStopCommandDefinition.pcHelpString","type":5},{"address":"0x0801935c","name":"mosfetStopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019350","name":"mosfetStreamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019344","name":"mosfetStreamCommandDefinition.pcCommand","type":5},{"address":"0x08019348","name":"mosfetStreamCommandDefinition.pcHelpString","type":5},{"address":"0x0801934c","name":"mosfetStreamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20007200","name":"mosfetTimeout","type":5},{"address":"0x20001308","name":"MsgDMAStopped[0]","type":1},{"address":"0x20001e38","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x20001e08","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x20001e18","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001e10","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x20001e1c","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x20001e14","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001e0c","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001e20","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x20001e04","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20001e24","name":"msgRxDMA[0].Lock","type":2},{"address":"0x20001e28","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20001e25","name":"msgRxDMA[0].State","type":2},{"address":"0x20001e2c","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x20001e34","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x20001e30","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20001d90","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x20001d60","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x20001d70","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001d68","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x20001d74","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x20001d6c","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001d64","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001d78","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x20001d5c","name":"msgTxDMA[0].Instance","type":5},{"address":"0x20001d7c","name":"msgTxDMA[0].Lock","type":2},{"address":"0x20001d80","name":"msgTxDMA[0].Parent","type":5},{"address":"0x20001d7d","name":"msgTxDMA[0].State","type":2},{"address":"0x20001d84","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x20001d8c","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x20001d88","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20000aa8","name":"myID","type":1},{"address":"0x20000038","name":"myPN","type":3},{"address":"0x20000010","name":"N","type":1},{"address":"0x08018e10","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e04","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x08018e08","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x08018e0c","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000193b","name":"needToDelayButtonStateReset","type":1},{"address":"0x20001738","name":"nonProcessingParameter[0]","type":1},{"address":"0x20006edd","name":"nonProcessingParameterIndex","type":1},{"address":"0x20006efc","name":"numCommandParameters","type":1},{"address":"0x20006db8","name":"numOfBosCommands","type":1},{"address":"0x20001150","name":"numOfRecordedSnippets","type":1},{"address":"0x08019300","name":"offCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080192f4","name":"offCommandDefinition.pcCommand","type":5},{"address":"0x080192f8","name":"offCommandDefinition.pcHelpString","type":5},{"address":"0x080192fc","name":"offCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x080192f0","name":"onCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080192e4","name":"onCommandDefinition.pcCommand","type":5},{"address":"0x080192e8","name":"onCommandDefinition.pcHelpString","type":5},{"address":"0x080192ec","name":"onCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001724","name":"P1MsgTaskHandle","type":5},{"address":"0x20001728","name":"P2MsgTaskHandle","type":5},{"address":"0x2000172c","name":"P3MsgTaskHandle","type":5},{"address":"0x20001730","name":"P4MsgTaskHandle","type":5},{"address":"0x20001734","name":"P5MsgTaskHandle","type":5},{"address":"0x20001954","name":"packetEnd","type":6},{"address":"0x2000194c","name":"packetLength","type":6},{"address":"0x20001948","name":"packetStart","type":6},{"address":"0x20001950","name":"parseStart","type":6},{"address":"0x08018f30","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f24","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x08018f28","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x08018f2c","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000008c","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x2000003c","name":"pcParamsHelpString[0]","type":5},{"address":"0x20000c38","name":"PcPort","type":1},{"address":"0x20000098","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x20000094","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x20000090","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000be8","name":"pcUserMessage[0]","type":2},{"address":"0x20000be8","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x20001188","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x2000191c","name":"percentage","type":9},{"address":"0x20006ebc","name":"perviousCharacter","type":1},{"address":"0x20007340","name":"pFlash.Address","type":5},{"address":"0x2000733c","name":"pFlash.DataRemaining","type":5},{"address":"0x20007354","name":"pFlash.ErrorCode","type":5},{"address":"0x20007350","name":"pFlash.Lock","type":2},{"address":"0x20007338","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x08018dd0","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018dc4","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x08018dc8","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x08018dcc","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000c3c","name":"portStatus[0]","type":1},{"address":"0x200018d4","name":"pressCounter[0]","type":5},{"address":"0x2000174c","name":"ProcessingParameter[0]","type":1},{"address":"0x20006edc","name":"processingParameterIndex","type":1},{"address":"0x08018dc0","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018db4","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x08018db8","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08018dbc","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018db0","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018da4","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x08018da8","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08018dac","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000a0","name":"ptrBuffer","type":5},{"address":"0x08019330","name":"pwmCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019324","name":"pwmCommandDefinition.pcCommand","type":5},{"address":"0x08019328","name":"pwmCommandDefinition.pcHelpString","type":5},{"address":"0x0801932c","name":"pwmCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200021d0","name":"pxCurrentTCB","type":5},{"address":"0x20002320","name":"pxCurrentTimerList","type":5},{"address":"0x200021cc","name":"pxDelayedTaskList","type":5},{"address":"0x20002334","name":"pxEnd","type":5},{"address":"0x200021d8","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x20002324","name":"pxOverflowTimerList","type":5},{"address":"0x2000226c","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x20002268","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x20002274","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x20002278","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x20002270","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x20006ee0","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x20006ec0","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x20001924","name":"Rank_t","type":1},{"address":"0x20006f6c","name":"rawValues","type":5},{"address":"0x08018f90","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f84","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x08018f88","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x08018f8c","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x08018fa0","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f94","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x08018f98","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x08018f9c","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x2000114c","name":"rejected_FLAG","type":1},{"address":"0x2000195a","name":"rejectedMsg","type":3},{"address":"0x200018ec","name":"releaseCounter[0]","type":5},{"address":"0x2000003a","name":"remoteVarFormat","type":2},{"address":"0x08018e70","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e64","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x08018e68","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08018e6c","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018e00","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018df4","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x08018df8","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x08018dfc","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000c4c","name":"responseStatus","type":2},{"address":"0x20006f50","name":"route[0]","type":1},{"address":"0x20000bb0","name":"routeDist[0]","type":1},{"address":"0x20000bcc","name":"routePrev[0]","type":1},{"address":"0x20007230","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x2000722c","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x20007238","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x2000723c","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x20007240","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x20007234","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x20007228","name":"RtcHandle.Instance","type":5},{"address":"0x20007244","name":"RtcHandle.Lock","type":2},{"address":"0x20007245","name":"RtcHandle.State","type":2},{"address":"0x08018e50","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e44","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x08018e48","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x08018e4c","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001908","name":"sConfig.Channel","type":5},{"address":"0x2000190c","name":"sConfig.Rank","type":5},{"address":"0x20001910","name":"sConfig.SamplingTime","type":5},{"address":"0x08018ed0","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018ec4","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x08018ec8","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x08018ecc","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018e80","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e74","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x08018e78","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x08018e7c","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018f10","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f04","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x08018f08","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x08018f0c","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006e64","name":"snippets[0].cmd","type":5},{"address":"0x20006e5a","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x20006e5e","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x20006e58","name":"snippets[0].cond.conditionType","type":1},{"address":"0x20006e59","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x20006e68","name":"snippets[0].state","type":1},{"address":"0x20001b51","name":"startMeasurement","type":1},{"address":"0x08018e30","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018e24","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x08018e28","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x08018e2c","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b3c","name":"stopB","type":1},{"address":"0x20001b5c","name":"stream_index","type":1},{"address":"0x20001c40","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20001c10","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20001c20","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001c18","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20001c24","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x20001c1c","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001c14","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x20001c28","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x20001c0c","name":"streamDMA[0].Instance","type":5},{"address":"0x20001c2c","name":"streamDMA[0].Lock","type":2},{"address":"0x20001c30","name":"streamDMA[0].Parent","type":5},{"address":"0x20001c2d","name":"streamDMA[0].State","type":2},{"address":"0x20001c34","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x20001c3c","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x20001c38","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x20006fe4","name":"Switch_OldDC","type":9},{"address":"0x2000009c","name":"Switch_Oldstate","type":2},{"address":"0x20001b50","name":"Switch_state","type":2},{"address":"0x20001b44","name":"SwitchindMode","type":1},{"address":"0x200000c0","name":"SystemCoreClock","type":5},{"address":"0x20007188","name":"t0","type":5},{"address":"0x20007114","name":"temp32","type":5},{"address":"0x20007108","name":"tempFloat","type":9},{"address":"0x08018f70","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f64","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x08018f68","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x08018f6c","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000000","name":"time","type":5},{"address":"0x08018eb0","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018ea4","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x08018ea8","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x08018eac","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001b3a","name":"timedoutMsg","type":3},{"address":"0x08019310","name":"toggleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019304","name":"toggleCommandDefinition.pcCommand","type":5},{"address":"0x08019308","name":"toggleCommandDefinition.pcHelpString","type":5},{"address":"0x0801930c","name":"toggleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20001944","name":"totalnumberofrecevedmesg","type":5},{"address":"0x20001940","name":"totalnumberoftransmiitedmesg","type":5},{"address":"0x20006efd","name":"twoDMatrixIndex","type":1},{"address":"0x20001310","name":"UARTRxBufIndex[0]","type":1},{"address":"0x20002344","name":"ucHeap[0]","type":1},{"address":"0x200017d8","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x20002254","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x08018f60","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018f54","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x08018f58","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x08018f5c","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000171c","name":"UserTaskHandle","type":5},{"address":"0x08018ee0","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018ed4","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x08018ed8","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x08018edc","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20006d7c","name":"uwTick","type":5},{"address":"0x200000d4","name":"uxCriticalNesting","type":5},{"address":"0x200021dc","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x20002264","name":"uxPendedTicks","type":5},{"address":"0x2000225c","name":"uxSchedulerSuspended","type":5},{"address":"0x20002248","name":"uxTaskNumber","type":5},{"address":"0x20002258","name":"uxTasksDeleted","type":5},{"address":"0x2000224c","name":"uxTopReadyPriority","type":5},{"address":"0x08018c64","name":"weekdayString[0]","type":5},{"address":"0x200022fc","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x200022f8","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x20002304","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x20002308","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x20002300","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x20002310","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x2000230c","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x20002318","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x2000231c","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x20002314","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x20002338","name":"xBlockAllocatedBit","type":5},{"address":"0x20001720","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x200021e4","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x200021e0","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x200021ec","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x200021f0","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x200021e8","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x200021f8","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x200021f4","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x20002200","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x20002204","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x200021fc","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x20002340","name":"xFreeBytesRemaining","type":5},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x08019384","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x08019378","name":"xHelpCommand.pcCommand","type":5},{"address":"0x0801937c","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x08019380","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x2000233c","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x200000d0","name":"xNextTaskUnblockTime","type":5},{"address":"0x20002260","name":"xNumOfOverflows","type":6},{"address":"0x2000220c","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x20002208","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x20002214","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x20002218","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x20002210","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x200072f4","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x200072f8","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x200000c8","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x200000cc","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x20002244","name":"xSchedulerRunning","type":6},{"address":"0x2000232c","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x20002330","name":"xStart.xBlockSize","type":5},{"address":"0x20002234","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x20002230","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x2000223c","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x20002240","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x20002238","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x20002220","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x2000221c","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x20002228","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x2000222c","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x20002224","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x200021d4","name":"xTickCount","type":5},{"address":"0x200022f4","name":"xTimerQueue","type":5},{"address":"0x20001b40","name":"xTimerSwitch","type":5},{"address":"0x20002250","name":"xYieldPending","type":6}],"expand":false,"filename":"H0FRxx.elf","exeModifiedTime":1633027758522,"configLastUpdate":1633037846622},{"id":"2edc711a.5f435e","type":"ui_group","z":"","name":"Current Measurement","tab":"266279b.9b24286","order":1,"disp":true,"width":11,"collapse":false},{"id":"266279b.9b24286","type":"ui_tab","z":"","name":"Relay","icon":"dashboard","order":1,"disabled":false,"hidden":false}]